// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Cinzel', serif;

// Colors
$primary-color: #f1e0ac;
$secondary-color: #495371;
$tertiary-color: #74959a;
$quartenary-color: #ffffff;

// Font sizes
$text-base-size: 3rem;
